<section id="about">
	<div class="container">
		<h1>About</h1>

		<div class="about-photo-contain">
			<figure class="about-photo">
				<%= image_tag("chris.jpg", alt: "photo of Chris Dziewa") %>
			</figure>
		</div>

		<p>Hey! My name is Chris Dziewa and welcome to my portfolio! I have spent over a year and a half teaching myself to program and just can't get enough. My hope is to one day be a full-time developer making awesome things.</p> 
		<br>
		<p>
			Although I have gained knowledge about a vast amount of technologies, my favorites include jQuery, Ruby and Python. If you need help on your next project or you are looking for a hard-working employee you can count on, then please don't hesitate to contact me! Thank you for stopping by my page!
		</p>

		<a href="#" class="arrow-to-top"> </a>
	</div>
</section>