<section id="about">
	<div class="container">
		<h1>About</h1>

		<div class="about-photo-contain">
			<figure class="about-photo">
				<%= image_tag("chris.jpg", alt: "photo of Chris Dziewa") %>
			</figure>
		</div>

		<p> consectetur adipiscing elit. Morbi purus nisl, tempus at augue non, pretium rutrum tellus. Vivamus fermentum tellus in malesuada fermentum. Suspendisse potenti. Maecenas id quam nisl. Aenean eget arcu faucibus, placerat velit eget, condimentum lectus.</p> 
		<br>
		<p>
		Cras elementum, mi a posuere placerat, dui neque auctor arcu, vel vulputate massa nibh ut nisl. Suspendisse pellentesque mollis nulla, a varius nisi tempor eu. In pulvinar sed sapien vehicula mattis. Phasellus libero.
		</p>

		<a href="#" class="arrow-to-top"> </a>
	</div>
</section>