<section id="blog-section">
	<div class="container">
		<div class="white-wrapper">
				<% @blogs.all.each do |post| %>
					<article>
						<h2><%= post.title.titleize %></h2>
						<p class="date">Date: <%= post.created_at %></p>
						<p><%= post.content %></p>
					</article>
					<hr>
				<% end %>
		</div>
	</div>
</section>