<section id="work">
	<div class="container">
		<h1>Work</h1>

		<div class="flexslider">
			<ul class="slides">
				<li>
					<div class="content">
						<%= image_tag("stafford-site.jpg", alt: "screenshot of stafford-photo.com" ) %>	
						<h2>www.stafford-photo.com</h2>
						
						<p>Photography portfolio site for photographer Alex Stafford. Alex is a local Milwaukee-area photographer specializing in portrait, engagement and wedding photography.This site was designed and handcoded as a fully-editable custom WordPress theme. </p>

						<a class="site-button" href="http://www.stafford-photo.com">Go to site</a>
					</div>
				</li>


				<li>
					<div class="content">

						<%= image_tag("lcp-site.jpg", alt: "screenshot of lakecountryplumbing.com" ) %>
						
						<h2>www.lakecountryplumbing.com</h2>
						
						<p>Plumbing business site for Brian Hohnke of Lake Country Plumbing Co. Lake Country Plumbing Co. is a family-run business offering plumbing, maintenance and remodeling services in Southeastern Wisconsin. Site was developed using handcoded PHP.</p>

						<a class="site-button" href="http://www.lakecountryplumbing.com">Go to site</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>