// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background: rgba(240, 240,240, 1);
	color: black;
}

#blog-section h1 {
	color: black;
}

#blog-section h2 {
	color: hsla(199,22%,23%, 1);
}

.white-wrapper hr {
	background: hsla(199,22%,23%, 1);
	opacity: .2;
}

#blog-section {
	padding: 50px 0; 
}

article {
	padding: 40px 0;
}

.white-wrapper {
	background: rgba(240, 240,240, 1);
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	padding: 10px 20px 20px 20px;
}

p.date {
	color: hsla(199,22%,23%, .5);
}